---
// Layout
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro"
import AboutMe from "../components/AboutMe.astro"
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects_2.vue";
import Certification from "../components/Certification.vue";
import TitleSection from "../components/TitleSection.astro"


// Iconos
import ProfileCheck from "../icons/ProfileCheck.astro"
import Briefcase from "../icons/Maleta.astro";
import CodeIcon from "../icons/Code.astro";
---

<Layout 
  title="Porfolio de Ferjapolis - Desarrollador y Analista de Datos"
  description="Desarrollador con +8 Años de experiencia en desarrollos. Analista de Datos y Fullstack, de Buenos Aires, Argentina; Especializado en datos, desarrollos y metodología agiles. ">

  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>
    
    <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects client:load />
    </SectionContainer>

    <SectionContainer id="certificaciones">
      <TitleSection>
        <CodeIcon class="size-7" />
        Certificados
      </TitleSection>
      <Certification client:load />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>

