---
 const personalImageAlt = "Fernando Javier"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Fernando, desarrollador de software especializado en la creación e 
      <strong>implementación de soluciones CRM</strong>. 
      Mi objetivo es optimizar los procesos de negocio de las Pymes mediante el uso de herramientas tecnológicas. 
    </p>

    <p>
      A lo largo de mi carrera, <strong>he trabajado con diversas empresas en la implementación de software de gestión</strong>, 
      contribuyendo a mejorar su eficiencia y productividad. 
    </p>

    <p>
      Como desarrollador, <strong>me apasiona encontrar soluciones innovadoras que generen un valor tangible para los negocios</strong>. 
      Mi enfoque se basa en la aplicación de buenas prácticas de desarrollo y en la búsqueda constante de la excelencia.
    </p>
  </div>

  <img width="200" height="200" src="/foto_2.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
